<!DOCTYPE html>
<html lang="en">
<head>
    <title>FlyDreamAir - About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/images/icons/icon.png"/>
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
<header>
    <div class="topnav" id="myTopnav">
        <a class="navbar-brand" href="/">
            <img alt="Brand" src="/static/images\logo.png" height="30" style="display:block;">
        </a>
        <a href="/">Home</a>
        <a href="/profile/">Profile</a>
        <a href="/coupons/">Coupons</a>
        <div class="topnav-right">
            <a href="#" class="active">About</a>
            <a href="/accounts/logout/" align="right">Logout</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
<center>

    <div class="jumbotron text-center">
        <h1>FlyDreamAir</h1><br>
        <form class="jumboform">
            <h2>Subscribe to our Newsletter</h2> <br>
            <input type="text" placeholder="Name" name="name" required> <br> <br>
            <input type="text" placeholder="Email address" name="mail" required> <br> <br>
            <label>
                <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
            </label>
            <br>
            <div class="container-sub100-form-btn m-t-32" align="center">
                <button class="sub100-form-btn">Subscribe</button>
            </div>
        </form>
    </div>


    <!-- Container (About Section) -->
    <div class="containerabout-fluid">
        <h2>About us</h2>
        <p> Dream Air Travel is a travel agency provides the highest ethical standard and hospitable service . </p>
        <p>The company operates in the Philippines with an over 12 years of successful experiences of airline, travel
            and tourism and aviation industry crew members</p>
        <p>Dream Air Travel excites you with its booking services fit your personal needs which guarantee your safety,
            comfort and budget. We value customer relationship
            and have dedicated friendly staff to ensure hassle-free experience for all passengers, it happens through
            the entire journey.
            We handle all booking professionally making sure custom-made itinerary is provided to each client.
            We deliver fast, reliable and 24/7 customer support and enjoy returns that you expect.</p> <br>
        <p>Call us Today +61 111 222 3333"</p>
        <button class="sub100-form-btn">Get in Touch</button>
    </div>
</center>
<footer>
    <div class="footer">
        <p class="copyright">Copyright © 2020 FlyDreamAir Loyalty Program. All rights reserved.</p>
    </div>
</footer>
</body>
</html>